traffic-signs-data
downloaded_images_orig/bahnübergang.jpg
downloaded_images_orig/bild-93702-resimage_v-variantBig1xN_w-2560.jpg
downloaded_images_orig/bild-93710-resimage_v-variantBig1xN_w-2560.jpg
downloaded_images_orig/bild410056-resimage_v-variantBig1xN_w-2560.jpg
downloaded_images_orig/einbahnstrasse100-resimage_v-variantSmall1x1_w-128.jpg
downloaded_images_orig/fahrradweg.jpg
downloaded_images_orig/file-141971-be469e74a6cce9b92158dbfaf61c3517.png
downloaded_images_orig/fussgaengerueberweg100-resimage_v-variantSmall1x1_w-128.jpg
downloaded_images_orig/parken.gif
downloaded_images_orig/Unknown.png
downloaded_images_orig/verkehrsschilder-beginn-einer-tempo-10-zone-10858.png
downloaded_images_orig/verkehrsschilder-ende-einer-tempo-20-zone-1561.png
downloaded_images_orig/verkehrszeichen-reiter-100-resimage_v-variantBig1xN_w-2560.jpg
downloaded_images_orig/vorfahrt_achten.jpg
downloaded_images_orig/vz_301_m_xs.gif
downloaded_images_orig/wild170-resimage_v-variantBig1xN_w-2560.jpg
test_data/orig/bahnübergang.jpg
test_data/orig/bild-93702-resimage_v-variantBig1xN_w-2560.jpg
test_data/orig/bild-93710-resimage_v-variantBig1xN_w-2560.jpg
test_data/orig/bild410056-resimage_v-variantBig1xN_w-2560.jpg
test_data/orig/einbahnstrasse100-resimage_v-variantSmall1x1_w-128.jpg
test_data/orig/fahrradweg.jpg
test_data/orig/fussgaengerueberweg100-resimage_v-variantSmall1x1_w-128.jpg
test_data/orig/parken.gif
test_data/orig/Unknown.png
test_data/orig/verkehrsschilder-beginn-einer-tempo-10-zone-10858.png
test_data/orig/verkehrsschilder-ende-einer-tempo-20-zone-1561.png
